@*@model IEnumerable<Fadiou.Models.MedcinViewModel>*@
@model PagedList.IPagedList<Fadiou.Models.MedcinViewModel>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a href="@Url.Action("Create", "Medcin")" title="Nouveau" class="btn btn-app">
        <i class="fa fa-save"></i>Nouveau
    </a>
</p>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                @using (Html.BeginForm("Index", "Medcin", FormMethod.Get))
                {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <b>Nom</b> @Html.TextBox("Nom", ViewBag.Nom as string, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <b>Prénom</b> @Html.TextBox("Prenom", ViewBag.Prenom as string, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <input type="submit" value="Rechercher" class="btn btn-primary" />
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().nomPers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().prenomPers)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().sexePers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().emailPers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().telPers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().specialteMed)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomPers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prenomPers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sexePers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailPers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telPers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specialteMed)
            </td>
            <td>
                <a class="btn btn-app" href="@Url.Action("Edit", "Medcin", new { id=item.idPers })" title="Modifier">
                    <i class="fa fa-edit"></i>
                </a>|
                <a class="btn btn-app" href="@Url.Action("Delete", "Medcin", new { id=item.idPers })" title="Supprimer">
                    <i class="fa fa-remove"></i>
                </a>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.idPers }) |
                    @Html.ActionLink("Details", "Details", new { id=item.idPers }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.idPers })*@
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, Page =>Url.Action("Index", new { Page, Nom=ViewBag.Nom, Prenom=ViewBag.Prenom }))